<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net35-Client" />
  <package id="log4net" version="2.0.0" targetFramework="net35-Client" />
  <package id="Remotion" version="1.13.225.0" allowedVersions="[1.13,1.14)" targetFramework="net35-Client" />
  <package id="Remotion.Mixins" version="1.13.225.0" allowedVersions="[1.13,1.14)" targetFramework="net35-Client" />
  <package id="Remotion.TypePipe" version="1.13.225.0" allowedVersions="[1.13,1.14)" targetFramework="net35-Client" />
</packages>