<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Remotion" version="1.16.12" targetFramework="net45" />
  <package id="Remotion.Mixins" version="1.16.12" targetFramework="net45" />
  <package id="Remotion.Reflection.CodeGeneration.TypePipe" version="1.16.12" targetFramework="net45" />
  <package id="Remotion.TypePipe" version="2.0.0" targetFramework="net45" />
</packages>