/* general style */
html {
	font-family: Calibri;
}


/* horizontal navigation bar */
#navigation {
	margin-top:0;
	padding:0;
	list-style:none;
}

#navigation li {
	margin:0;
	padding:0;
	padding-right: 8px;
	display: inline;
}

#navigation a {
	text-decoration: none;
}

#navigation a.currentIndex {
	text-decoration: underline;
}


/* headings and sub-headings */
h1 {
	display: inline;
}

h2 {
	display: inline;
	font-size: medium;
	vertical-align: top;
}

.involvedType-summary {
	border: gray 1px dashed;
	background-color: #E7E7E7;
}

/* colors for errorList on index site */
.errorList-errorsFound {
	background-color: #FFACAC;
}

.errorList-noErrors {
	background-color: #CBE6C6;
}


/* make links in tables non-underlined */
table a {
	text-decoration: none;
}


/* caption of tables */
table caption {
	text-align: left;
	font-size: large;
	font-weight: bold;
	font-style: italic;
}


/* collapsing of tables via caption */
table caption.visible, table caption.hidden {
	cursor: pointer;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: center left;
}

table caption.visible {
	background-image: url(images/minus.gif);
}

table caption.hidden {
	background-image: url(images/plus.gif);
}


/* tables */
table {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	text-align:left;	
	font-size: 16px;
	
	margin-bottom: 20px;
	min-width: 600px;
	max-width: 100%;
}

tfoot {
	font-weight: bold;
}

table thead tr th {
	background-color: #BBD5D6;
	border: 1px solid #FFF;
	padding: 4px;
}

table thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 20px;
}

table tbody td {
	color: #3D3D3D;
	padding: 3px;
	background-color: #FFF;
	vertical-align: top;
}

table tbody tr.odd td {
	background-color: #F0F0F6;
}

table thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table thead tr .headerSortDown, table thead tr .headerSortUp {
	background-color: #8dbdd8;
}