/* general style */
html {
	font-family: Calibri;
}

body {
	margin-left: 10px;
}

a {
	text-decoration: none;
}

/* horizontal navigation bar */
#navigation {
	margin-top:0;
	padding:0;
	list-style:none;
}

#navigation li {
	margin:0;
	padding:0;
	padding-right: 8px;
	display: inline;
}

#navigation a.currentIndex {
	text-decoration: underline;
}


/* headings and sub-headings */
h1 {
	display: inline;
}

h2 {
	display: inline;
	font-size: medium;
	vertical-align: top;
}

fieldset {
	padding: 3px;
	padding-top: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
}

fieldset legend {
	font-size: 85%;
}

.involvedType-summary {
	margin-top: 6px;
	padding: 1px;
	padding-left: 3px;
	
	border: gray 1px dashed;
	background-color: #E7E7E7;
}

/* warning for generic target classes and "mixed mixins" */
/* so much specifier for "tr.dubiosInvolvedType td" to gain higher priority */
.dubiosInvolvedType, body table tbody tr.dubiosInvolvedType td 
{
	background-color:#E3D1A2;
}

/* colors for errorList on index site */
.errorList-errorsFound {
	background-color: #FFACAC;
}

.errorList-noErrors {
	background-color: #CBE6C6;
}


/* method type in mixin table -> member overrides */
.small-method-type {
	font-size: 80%;
	vertical-align: top;
}

/* treeview styles */
.tree-link {
	font-size: 80%;
	vertical-align: top;
}

.treeview {	
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #fff;
	color: #333;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

/* caption of tables and target-trees (via class) */
table caption, .treeHeader, .emptyText {
	text-align: left;
	font-size: large;
	font-weight: bold;
	font-style: italic;
	
	margin: 5px;
	margin-left: 0px;
}

.emptyText {
	padding-left: 15px;
	color: #777;
}


/* collapsing */
.visible, .hidden {
	cursor: pointer;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: center left;
}

.visible {
	background-image: url(images/minus.gif);
}

.hidden {
	background-image: url(images/plus.gif);
}


/* tables */
table {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	text-align:left;	
	font-size: 16px;
	
	min-width: 800px;
	max-width: 100%;
}

tfoot {
	font-weight: bold;
}

table thead tr th {
	background-color: #BBD5D6;
	border: 1px solid #FFF;
	padding: 4px;
}

table thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 20px;
}

table tbody td {
	color: #3D3D3D;
	padding: 3px;
	background-color: #FFF;
	vertical-align: top;
}

table tbody tr.odd td {
	background-color: #F0F0F6;
}

table thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table thead tr .headerSortDown, table thead tr .headerSortUp {
	background-color: #8dbdd8;
}

#overlay {
	top: 60px;
	left: 300px;
	position: absolute;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	display: none;
	margin-top: -10px;
	background: #000;
	color: #FFF;
}